body {
        background-color: rgb(0,0,0);

      }
			.header {
        padding: 50px 30px 30px 30px;
      }
      .index-background {
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        background: url('../Images/runrunrun2.gif')  center / cover;
        position: fixed;
        left: 0;
        top: 0;
        z-index: -1;
      }
      .index-background:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.6);
      }
      .index-background:before {
        content: "";
        position: absolute;
        left: 1%;
        top: 2vh;
        width: 98%;
        height: 96vh;
        box-sizing: border-box;
        border-top:  1px solid rgba(255,110,64,.6);
        border-bottom:  1px solid rgba(255,110,64,.6);
        z-index: 99;
      }
      .search-area {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        width: 100vw;
        max-width: 550px;
        height: 200px;
      }
      .search-keyword {
        position: relative;
        margin-bottom: 30px;
      }
      .search-keyword > i {
        position: absolute;
        left: 30px;
        top: 0;
        line-height: 2.5em;
        font-size: 2.5em;
        color: rgb(255,110,64);

      }
      .search-keyword input {
        display: block;
        box-sizing: border-box;
        padding-left: 100px;
        border: 0;
        width: 100%;
        height: 3em;
        border-bottom: 1px solid rgba(255,110,64,.2);
        color: rgb(255,110,64);
        font-size: 2em;
        background-color: transparent;
        transition: border-color .5s;
      }
      .search-keyword input:focus {
        outline: none;
        border-color: rgba(255,110,64,1);
      }
      .search-keyword:hover {
      }
      .search-type {
        
      }
      .search-type--list {
        list-style: none;
        padding-left: 0;
        text-align: center;
        font-size: 1.2em;
      }
      .search-type--item {
        display: inline-block;
        color: rgba(255,110,64,.6);
        margin: 0 30px;
        cursor: pointer;
        transition: color .5s;
      }
      .search-type--item:hover {
        color: rgba(255,110,64,.9);
      }
      .search-type--item.active {
        position: relative;
        color: rgba(255,110,64,1);
      }
      .search-type--item.active:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        height: 2px;
        width: 100%;
        background-color: rgb(255,110,64);
      }
      .footer {
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 2;
        opacity: .5;
        background-color: transparent;
        margin: 0 30px;
        font-size: .75em;

      }
      .footer-text {
        color: rgb(255,110,64);
        line-height: 1.5em;
      }
@media screen and (max-width: 544px) {
        .index-background:before {
          top: 0;
          left: 0;
          width: 100%;
          border-top-width: 1vh;
          border-color: rgb(255,110,64);
          border-bottom: 0;
        }
        .header {
          padding: 20px 20px 0 20px;
        }
       .search-area {
        display: none;
        background-color: rgba(255,110,64,1);
        top: 0;
        right: auto;
        left: 200vw;
        bottom: auto;
        height: 110vh;
        transition: left .5s;
        transition-delay: .2s;
       }
       .search-area.active {
        display: block;
        position: fixed;
        z-index: 2;
        left: 0;
        transform: scale(1);
       }
       .search-keyword {
        width: 100vw;
        background-color: rgba(0, 0, 0, 1);
        padding: 50px 5vw 10px 5vw;
       }
       .search-keyword input {
        font-size: 1.5em;
        padding-left: 50px;
        padding-right: 20px;
       }
       .search-keyword i {
        top: auto;
        bottom: 0px;
        left: 20px;
        font-size: 2em;
       }
       .search-type--item {
        color: white;
        display: block;
        margin-bottom: 20px;
       } 
       .search-type--item:hover {
        color: rgba(0, 0, 0, .6);
       }
       .search-type--item.active {
        color: rgba(0, 0, 0, .8);
       }
       .search-type--item.active:after {
        background-color: rgba(0, 0, 0, .8);
        width: 20%;
        left: 40%;
       }
       .mob-menu {
        position: absolute;
        z-index: 3;
        top: 0;
        right: 0;
        height: 60px;
        width: 60px;
        line-height: 70px;
        text-align: center;
        background-color: rgba(255,110,64,1);
        color: rgba(0, 0, 0, 1);
        transition: background-color .5s;
       }
       .mob-menu.active {
        background-color: transparent;
        color: rgba(255,110,64,.8);
        position: fixed;
       }
       .mob-search {
        position: absolute;
        top: 60vh;
        left: 15vw;
        width: 70vw;
        text-align: center;
        line-height: 3em;
        border: 1px solid rgba(255,110,64,.8);
        color: rgba(255,110,64,.8);

       }
      }